
  

  
  .centered {
    width: 40%; 
    height: auto; 
    animation: bounce 2s infinite;
    flex-direction: column ;
    text-align: center;
    display: flex;
    margin: auto;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  